body{
    background-color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 4em;
    color: darkgreen;
}

h2{
    font-size: 3em;
    color: seagreen;
}

p{
    font-size: 2em;
}